@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.main{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    
}

.card{
    width: 1440px;
    height: 960px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}
.body-content{
    display: flex;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
h1,nav{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}
.navigation{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    text-transform: uppercase;
    word-spacing: 40px;
    cursor: pointer;
    padding: 80px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
.bg{
    position: relative;
    bottom: 834px;
    left: 720px;
    width: 50%;
    height: 54%;
    border-radius: 0 0 0 25%;
    background-color: hsl(207, 33%, 95%);
    z-index: -1;
}
.dot{
    height: 5px;
    width: 5px;
    margin-bottom: 2px;
    background-color:  hsl(231, 7%, 65%);
    border-radius: 50%;
    display: inline-block;
}
.login{
    color:  hsl(231, 7%, 65%);
    
    
}
a:hover:last-child{
    text-decoration-color: hsl(231, 7%, 65%);
}
.dashboard{
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(231, 7%, 65%);
    margin-right: 30px;
}
.active{
    border:solid hsl(230, 29%, 20%) 1px;
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 500px;
    cursor: pointer;
    color:hsl(207, 33%, 95%);
    background-color:hsl(230, 29%, 20%) ;
    text-align: center;
    letter-spacing: 0;
}

.d-child{
    margin-right: 20px;
}
h1{
    font-size: 70px;
    
}
.column{
    flex: 50%; 
   padding: 50px;
   
}
.description{
    font-size: 40px;
}
.preview{
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    color: hsl(231, 7%, 65%);
}
button{
    color: hsl(207, 33%, 95%);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: hsl(0, 100%, 68%);
    border: hsl(0, 100%, 68%);
    text-transform: uppercase;
    height: 50px;
    width: 220px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.logo {
    margin-left: -460px;
    cursor: auto;
    
}
nav{
    margin-right: -400px;
}
#icon{
    display: none;
}
.crop{
    position: relative;
    left: 50px;
  width: 670px;
  height: 464px;
  overflow: hidden;
}
.crop img{
    position: relative;
    width: 930px;
  height: 464px;
  margin: 0 -100px 0 0;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width:375px){
    nav{
        display: none;
        margin-right: 0px;
    }
}
@media screen and (max-width:375px){
    .card {
        width: 196%;
        height: 1550px;
    }
    .logo{
        margin-left: 20px;
    }
    .logo img {
        width: 3em;
    }    
    
    .responsive {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width:  590px;
        height: 460px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        text-align: center;
        justify-content: space-evenly;
        top: 200px;
        background-color: white;
        font-size: 30px;
    }
    .dot{
        position: relative;
    left: 50px;
    width: 500px;
    height: 1px;
    color: hsl(207, 33%, 95%);
    }
    
    .navigation{
        margin-bottom: -20px;
    }
    #icon{
        display: initial;
        margin-left: 420px;
        width: 500em;
        height: 2em;
        margin-top: 10px;
        
    }
    
   .body-content{
       display: flex;
       flex-direction: column-reverse;
      
   }
   .bottom{
    margin-top: 60px;
   }
    .crop{
        width: 100%;
    }
    .crop img{
        width: 137%

    }
    .bg{
        width: 42%;
        height: 800px;
        left: 402px;
        bottom: 1420px;
        
    }
   
}